@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root{
    --color-main1: #313131;
    --color-main2: #a8a8a8;
    --color-main3: #d9d9d9;
}



body{
    width: 100%;
    height: 100%;
    font-family: 'Nunito';
    font-style: normal;
}

main{
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 8%;
    align-items: center;
}

.bannerContent{
    background-color: var(--color-main3);
    width: 358px;
    height: 98px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 358px;
    height: 45px;
    gap: 10px;
    border: 1px solid var(--color-main1);
    border-radius: 10px;

}

.searchBar input{
    width: 85%;
    outline: none;
    border-style: hidden;
}

.mainContent div{
    margin-bottom: 30px;
}

.topContent{
    font-weight: 600;
    font-size: 25px;
    line-height: 108.9%;
    color: var(--color-main1);
    width: max-content;
    height: 54px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 55px;
}

.adminLogin a{
    font-size: 15px;
    line-height: 20px;
    text-decoration-line: underline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.adminLogin{
    margin-top: 50px;
}

.topContentText p{
    margin-bottom: -22px;
}

.navbar{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    margin-left:-2%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -1px 8px #999;
    height: 100px;
    font-size: 14px;
    line-height: 97%;
}

a.active span.navText{
    font-weight: 700;
    color: var(--color-main1);
}


.buttonNav a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0px 2% 0px 2%;
    color: var(--color-main2);
    font-weight: 400;
    padding: 42px;
    width: 34px;
    height: 49px;
    gap: 5px;
}

.iconNav{
    width: 30px;
    height: 30px;
}

.buttonNavPlus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 0 2% 0 2%;
    margin-bottom: 20px;
    border-radius: 100%;
    background-color: var(--color-main1);
}
